<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css")
        script(src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")
        link(rel="stylesheet", href="./assets/main.scss")

    body
        h1 SoulSword
        audio(src="./assets/music/blip.wav" class="blip-sound")
        audio(src="./assets/music/click.wav" class="click-sound")
        div(class="game")

            div(class="start")
                h1(class="start__title") SoulSword
                button(class="start__start-game-btn") Start Game

            div(class="creation")
                audio(src="./assets/music/battle.mp3")
                div(class="creation__text")
                    h1(class="creation__text__title") SoulSword
                    p(class="creation__text__description") Enter Your Name
                form(class="creation__input-form" autocomplete="off" spellcheck="false")
                    input(class="creation__input-form__input" type="text" name="name" minlength="1" maxlength="7")
                    button(class="creation__input-form__start-btn") Start Adventure
            
            div(class="scene-one")
                div(class="text-container")
                audio(src="./assets/music/scene-one.mp3")
                img(class="scene-one__flame" src="./assets/images/flame.gif", alt="blue flame")

        script(src="./index.js")

//- color pallete https://coolors.co/99d5c9-6c969d-645e9d-392b58-2d0320