.main-screen {
    height: 36rem;
    width: 100%;
    position: relative;


    &__window {
        position: absolute;
        right: 0;
        top: 0;
        height: 35.9rem;
        width: 52.8rem;
        // background: url('./images/sunsetintheswamp.png') no-repeat;
        // background-size: cover;
    }


}