.main-UI {
    height: 36rem;
    width: 15rem;
    float: left;
    opacity: 0;
    transition: opacity 500ms;

    &.show-ui {
        opacity: 1;
    }

    &__inventory-title {
        color: white;
        text-align: center;
        border: 2px solid black;
        background: #645E9D;
    }

    &__inventory {

        &__slot {
            border: 2px solid black;
            height: 5rem;
            width: 5rem;
            display: inline-block;
            margin-bottom: -5px;
            background: url('./images/slot.png') no-repeat;
            background-size: cover;
        }
    }

    &__character-profile {
        width: 15rem;
        border: 2px solid black;
        padding: 3rem;
        background-color: #392B58;
        text-align: center;
        position: relative;

        &__card {
            transition: opacity 500ms;
        }

        &__profile-image {
            height: 10rem;
            width: 10rem;
            border-radius: 100%;
            margin: 0 auto;
            display: block;
            border: 2px solid black;
        }

        &__character-name {
            color: black;
            text-shadow: 1px 2px 3px #2D0320;
        }

        &__level {
            color: #645E9D;
        }

        &__stats {
            width: 14.7rem;
            height: 100%;
            background-color: #645E9D;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 500ms;


            &::after {
                content: "";
                clear: both;
                display: table;
            }

            .group {
                height: 1.5rem;
                float: left;
                margin-left: 2.2rem;
                margin-top: 2rem;

                img {
                    width: 2rem;
                    vertical-align: middle;
                }

                span {
                    line-height: 1.5rem;
                    margin-left: 1rem;
                    color: white;
                }
            }
        }
    }

    &__map-image {
        border: 2px solid black;
        position: relative;
        height: 14.2rem;
        float: left;
    }


}