.scene-one {
    background-color: black;
    position: absolute;

    &.show-window {
        height: 100%;
        width: 100%;
        position: relative;
    }

    &__flame {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 5s;

        &.fade-in {
            opacity: 1;
            transition: opacity 10s;

        }
    }
}